<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Account</title>
</head>
<body>
<table id="myTableId">
    <thead>

    </thead>
    <tbody>
    <tr>
        <td>Account Number</td>
        <td><${account?.accountNumber}</td>
    </tr>
    <tr>
        <td>Address</td>
        <td><${account?.address}</td>
    </tr>
    <tr>
        <td>Bin Notes</td>
        <td><${account?.binNotes}</td>
    </tr>
    </tbody>
</table>
</body>
</html>